@import './imports/variables.scss';
@import './imports/globals.scss';

/********* HEADER *********/
.site-header{
    width: 100%;
    height: 60px;

    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
    z-index: 9;

    background-color: $principal-monochromatic-1;

    position: sticky;
    top: 0;

    .header-wrap{
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        .header__logo{
            fill: white;
            width: 125px;
        }

        .fa-bars{
            font-size: 28px;
            color: $white;
        }

        .header__desktop-nav{
            display: none;
        }
    }
}

.mobile-nav-wrap{
    overflow: hidden;
    position: sticky;
    top: 0 + 60px;
    z-index: 9;
    .mobile-nav{
        width: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        margin-top: -100%;
    
        background-color: $principal-monochromatic-1;
        
        transition: all .8s ease;
        
        &.collapse{
            margin-top: 0;
        }
    
        a{
            width: 100%;
            padding: 5px;
    
            border-top: 3px solid $principal-monochromatic-2;
    
            color: $white;
            font-size: 18px;
            text-decoration: none;
            text-align: center;
    
            &.nav__item, &.cart-customlocation{
                font-weight: 700;
    
                .fa-cart-shopping{
                    margin-right: 10px;
                }
            }
        }
        
    }
}

/********* BODY - HOME *********/
/* hero */
.hero{
    width: 100%;
    background-image: url('../img/svg/patternpad.svg');
    background-attachment: fixed;
    padding-bottom: 50px;
    &__container{
        width: 90%;

        margin-left: auto;
        margin-right: auto;
        padding-top: 5px;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .title{
            order: 1;
            font-size: 28px;
            font-weight: 900;
            margin: 0;

            color: $black;
            text-align: center;
            text-shadow: $text-shadow-title;

            margin-bottom: 5px;
        }

        .content{
            order: 3;
            width: 100%;
            text-align: center;
            
            &__title{
                display: none;
            }

            &__subtitle{
                width: 70%;

                font-size: 18px;
                font-weight: 400;
                color: $black;

                margin-bottom: 15px;
                margin-left: auto;
                margin-right: auto;
            }
            &__btn{
                display: block;
                width: 100%;

                background-color: $principal-monochromatic-2;
                padding: 10px 0px;
                border-radius: 3px;
                
                color: white;
                text-decoration: none;
            }

            &__social-wrap{
                display: none;
            }
        }
        .decoration{
            width: 100%;
            position: relative;
            order: 2;

            margin-left: auto;
            margin-right: auto;
            
            .blob{

            }
            .man{
                width: 100%;
                position: absolute;
                top: 10px;
                left: -30px;
            }
            
        } 
    }
}

/* upcoming events */
.upcoming-events{
    width: 100%;
    height: 100vh;

    background-color: pink;

    &__container{
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        .title{
            text-align: center;
            padding: 20px;
            color: $black;
        }
    }
}

/* about us */
.about-us{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 25px;
    background-color: $black;

    &__container{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        
        .title{
            padding-top: 20px;
            margin-bottom: 5px;

            font-size: 48px;

            text-shadow: none;
            -moz-text-fill-color: transparent;
            -webkit-text-fill-color: transparent;
            -moz-text-stroke-color: $principal;
            -webkit-text-stroke-color: $principal;
            -moz-text-stroke-width: .040em;
            -webkit-text-stroke-width: .040em;
            line-height: 50px;
        }

        .separator-line{
            width: 10%;
            height: 5px;
            background-color: $principal-monochromatic-1;
            margin-bottom: 10px;
        }
        

        .text{
            color: $white;
            font-size: 18px;
            font-weight: 100;
        }
        
    }
}

/********* FOOTER *********/
.site-footer{
    width: 100%;
    height: 10vh;
    background-color: $principal-monochromatic-1;
    display: flex;
    align-items: center;

    .footer-container{
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        .social-wrap{
            width: 100%;
            display: flex;
            justify-content: space-around;

            .social-item{
                font-size: 21px;
                color: $white;
                text-shadow: 1px 1px $principal-monochromatic-7;

                transition: ease .3s all;
                &:hover{
                    transform: scale(1.05);
                    color: $principal-monochromatic-1;
                }
            }
        }
    }
}

/********* FAQ PAGE *********/
.faq-hero{
    width: 100%;
    height: 200px;
    background-image: url('../img/svg/patternpad.svg');
    background-attachment: fixed;

    margin-bottom: 25px;
    display: flex;
    align-items: center;

    .container{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        
        h1{
            font-size: 48px;
            color: $black;
            text-shadow: $text-shadow-title;
            padding-top: 10px;
            line-height: 50px;
            margin-bottom: 10px;
        }
        .line{
            width: 15%;
            height: 5px;
            background-color: $principal-monochromatic-1;
        }
    }
}
.faq-section{
    width: 100%;
    min-height: 55vh;
    max-height: 100%;
    background-color:$white;
    
    .section__container{
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        .expand-wrap{
            width: 100%;
            height: 100%;
            
            .question-wrap{
                display: flex;
                gap: 15px;
                align-items: center;

                padding: 10px;
                color: $white;
                background-color: $principal-monochromatic-2;
                box-shadow: $box-shadow-btn;

                border-bottom: solid 2px $principal-monochromatic-7;
                &.collapse{
                    background-color: $principal-monochromatic-1;
                    border-bottom: none;
                }
                .status-expand{
                    width: 10px;
                }
            }

            .expand__answer{
                height: 0px;
                overflow: hidden;

                &.last-item{
                    margin-bottom: 10px;
                    p{
                        border-bottom: 2px solid $light-color-5;                        
                    }
                }

                p{
                    padding: 5px 10px;
                    color: $black;
    
                    border-left: 2px solid $light-color-5;
                    // border-bottom: none;
                    border-right: 2px solid $light-color-5;

                }                
            }
        }
    }
}


@media screen and (min-width: 375px) {
    .hero{
        &__container{
            .content{
                &__subtitle{
                    width: 100%;
                }
            }
            .decoration{
                width: 95%;
            }
        }
    }
}

@media screen and (min-width: 425px) {
    .hero{
        &__container{
            width: 80%;
            
            .decoration{
                width: 90%;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .hero{
        &__container{
            width: 80%;

            .content{
                &__btn{
                    margin-right: auto;
                    margin-left: auto;
                    width: 60%;
                }
            }
            
            .decoration{                
                width: 50%;
            }
        }
    }
}

@media screen and (min-width: 1024px)  {
    /********* HEADER *********/
    .site-header{
        position: sticky;
        top: 0;
        .header-wrap{
            width: 80%;
            .fa-bars{
             display: none;
            }
            .header__desktop-nav{
                display: block;

                a{
                    color: $white;
                    font-size: 18px;
                    text-decoration: none;
    
                    &.nav__item, &.cart-customlocation{
                        margin-right: 25px;
                        padding-bottom: 5px;
                        font-weight: 600;

                        &:hover{
                            text-decoration: underline;
                        }
    
                        .fa-cart-shopping{
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
    .mobile-nav-wrap{
        display: none;
    }

    /********* BODY *********/
    /* hero */
    .hero{
        height: 80vh; 
    
        &__container{
            width: 80%;
            height: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .title{
                display: none;
            }
    
            .content{
                order: 2;
                width: 50%;
                text-align: left;
                
                &__title{
                    display: block;
                    font-size: 42px;
                    font-weight: 900;
                    margin: 0;

                    color: $black;
                    text-shadow: $text-shadow-title;

                    margin-bottom: 5px;
                    
                }

                &__subtitle{
                    padding-bottom: 5px;
                    width: 100%;
                }
                &__btn{
                    width: 50%;
                    margin: 0;
                    margin-bottom: 25px;
                    
                    box-shadow: $box-shadow-btn;
                    text-align: center;

                    transition: ease .3s background-color;
                    &:hover{
                        background-color: $principal-monochromatic-1;
                    }
                }
                &__social-wrap{
                    width: 50%;
                    display: flex;
                    justify-content: space-around;

                    .social-item{
                        font-size: 21px;
                        color: $principal-monochromatic-3;
                        text-shadow: 2px 2px 2px $light-color-5;

                        transition: ease .3s all;
                        &:hover{
                            transform: scale(1.05);
                            color: $principal-monochromatic-1;
                        }
                    }
                }
            }
            .decoration{
                order:3;
                width: 30%;
                margin: 0;
                
            } 
        }
    }

    /* about us */
    .about-us{
        &__container{
            width: 80%;
        }
    }

    /********* FAQ PAGE *********/
    .faq-hero{
        .container{
            width: 80%;
        }
    }
    .faq-section{
        .section__container{
            width: 80%;
            .expand-wrap{
                .question-wrap{
                    transition: background-color .3s ease;
                    &:hover{
                        cursor: pointer;
                        background-color: $principal-monochromatic-1;
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 1440px) { 
    .site-header{
        .header-wrap{
            width: 70%;
        }
    }

    .hero{
        height: 70vh;
        &__container{
            width: 70%;

            .content{
                width: 50%;
            }
            .decoration{
                width: 30%;
            }
        }
    }

    /* about us */
    .about-us{
        &__container{
            width: 70%;
        }
    }

    /********* FAQ PAGE *********/
    .faq-hero{
        .container{
            width: 70%;
        }
    }
    .faq-section{
        .section__container{
            width: 70%;
        }
    }
    
}

@media screen and (min-width: 1900px) {
    .faq-section{
        
        min-height: 60vh;
    }
}
